h1{
    margin-left: 25px;
}

.ListBlock{
    background-color: #FFF;
    border-radius: 10px;
    width: 450px;
    height: 420px;
    display: flex;
    flex-direction: column;
    border: 2PX;
    /* border-style: solid; */
    margin-top: 10px;
    margin-right: 15px;
}

.ListBlock li{
    margin-bottom: 15px;
}