.classHeaderToCss{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.classHeaderToCss h2{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.classHeaderToCss input {
    width: 180px;
    line-height: 1.75;
    font-weight: 200;
    font-size: 14px;
    height: 26px;
    background-color: #f7f7fd;
    margin-left: 15px;
    margin-top: 10px;
    background: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
    background-position: 160px;
    border-radius: 10px;
}

.classHeader{
    background-color: #FFF;
}

.list{
    border: 2px;
    border-style: solid;
    border-color: #ededed;
    margin-bottom: 15px;
}

.buttons{
    display: flex;
    margin-left: 25px;
    padding: 15px;
}