.App{
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    background-color: #ededed;
    flex-direction: column;
}

.ClassFilters{
    display: flex;
    justify-content: center;
}

.ClassLists1{
    display: flex;
    justify-content: center;
}

.ClassLists2{
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
}